<div class="main-container">
    <div class="h1">
        <div class="nav">
            <div (click)="switchIsTask()"><button>Tâches</button></div>
            <div (click)="switchIsReport()"><button>Rapports</button></div>
        </div>
        <div class="center">
            <h1>Toutou List</h1>
            <app-task-create [hidden]="!isTask"></app-task-create>
            <app-report-create [hidden]="isTask"></app-report-create>
        </div>
    </div>
    <div [hidden]="!isTask">
        <h2>Tâches</h2>
        <div [hidden]="!isTask" class="div-task">
            <div *ngFor="let task of tasks" class="main-div-task">
                <app-task [taskId]="task.id"></app-task>
            </div>
        </div>
    </div>
    <div [hidden]="isTask">
        <h2>Rapports</h2>
        <div [hidden]="isTask" class="div-report">
            <div *ngFor="let report of reports" class="main-div-report">
                <app-report [reportId]="report.id"></app-report>
            </div>
        </div>
    </div>
</div>